/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.navbar-container {
  background-color: white;
  border: 1px solid black;
}

.content-container {
  background-color: white;
  border: 1px solid black;
}