/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.navbar-container {
  padding: 0px;
  background-color: white;
  border-right: 1px solid black;
}

.content-container {
  background-color: white;
  padding: 10px;
}

.main-container {
  border: 2px solid black;
  margin-top: 10px;
}

.sidenav {
  padding: 0px;
  li {
    border-bottom: 1px solid lightgray;
    &:hover {
      background-color: lightgrey;
    }
  }
}