<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.templates'), templates_path, class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.resources'), '#', class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.account'), '#', class: 'nav-link'%>
  </li>
</ul>