<ul class="nav flex-column sidenav">
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.templates'), cms_engine.templates_path, class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.resources'), '#', class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to t('layouts.cms_engine.sidebar.account'), cms_engine.edit_user_registration_path, class: 'nav-link'%>
  </li>
</ul>

<%= link_to t('cms_engine.sidebar.logout'), cms_engine.destroy_user_session_path, class: "btn btn-secondary logout-btn", method: :delete %>
